/*background cycler*/

.backgroundCycler {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
    top: 0;
}

.backgroundCycler img {
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

.backgroundCycler .active {
    opacity: 1;
}


/*video page*/

.mediaPage {
    height: calc(100% - 257px);
    left: 65px;
    opacity: 0;
    position: relative;
    top: 207px;
    transition: all 1s;
    visibility: hidden;
    width: calc(100% - 130px);
}

.currentVideo {
    height: calc(100% - 50px);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.currentTour {
    height: calc(100% - 50px);
    width: 100%;
}

.objTitle {
    font-family: 'TerumoBCTBold', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    height: 33px;
    margin-bottom: 17px;
}


/*more tab*/

.moreTab {
    background-color: #0c141a;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 25px 18px;
    position: absolute;
    right: 20px;
    width: 408px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.moreContents {
    display: table-cell;
    vertical-align: middle;
    text-align: center right;
}

.moreText {
    position: absolute;
    right: 60px;
    top: 25px;
    color: #737B80;
    padding: 0px;
    margin: 0px;
}

.corpTxt {
    color: #fff;
    left: 84px;
    position: absolute;
    top: 357px;
    transition: all 1s;
    white-space: normal;
    width: 375px;
}

.corpButtons {
    left: 525px;
    overflow: auto;
    position: absolute;
    top: 450px;
    width: 63%;
}

.downCarrot {
    background-image: url("../img/moreCarrot.gif");
    height: 20px;
    position: absolute;
    right: 30px;
    width: 20px;
}

.moreButtons {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1300px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.moreButtons a {
    opacity: 1;
}


/*top tab*/

.topTab {
    position: absolute;
    display: table;
    height: 116px;
    width: 390px;
    padding: 27px;
    top: 0px;
    left: 2%;
    background-color: #0C141A;
    z-index: 999;
}

.showCursor {
    cursor: pointer;
}

.tabText {
    color: #737B80;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.orangeTick {
    height: 6px;
    width: 24px;
    display: block;
    background-color: #FF7900;
}

.tabContents {
    display: table-cell;
    vertical-align: bottom;
    text-align: bottom left;
}


/*home buttons*/

.homeButtons {
    bottom: 0;
    height: 290px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 300px;
    width: 90%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    z-index: 100000;
}

.mainScreenLogo {
    cursor: pointer;
    display: table;
    float: left;
    height: 275px;
    margin: 8px;
    padding: 0;
    position: relative;
    width: 275px;
}

.header {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 163px 0 15px;
}

.mainScreenBlocks {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    display: table;
    float: left;
    height: 225px;
    margin: 8px;
    padding: 25px;
    position: relative;
    width: 225px;
    transition: all .33s;
}

.mainScreenBlocks h1 {
    display: table-cell;
    vertical-align: middle;
}

.mainScreenBlocks:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #999;
}


/*content*/

.content {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.homeShow {
    opacity: 1;
    visibility: visible;
}

.tabs {
    left: 35px;
    position: absolute;
    top: 314px;
    width: 90%;
}

.tabLinkTxt {
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 0 10px;
}

.tabBTN {
    border-color: #fff;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    float: left;
    font-size: 15px;
    height: 60px;
    margin: 0 10px 0 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    width: 265px;
}

.tabRule {
    border-bottom: 1px solid #fff;
    clear: both;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.thinTitle {
    font-family: "TerumoBCTThin", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.sectionTitle {
    left: 65px;
    position: absolute;
    top: 207px;
}

.subBTNs {
    display: block;
    left: 30px;
    overflow: auto;
    position: absolute;
    top: 400px;
    width: 95%;
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}

.subHide {
    opacity: 0;
    visibility: hidden;
}

.assetBTN {
    color: #fff;
    cursor: pointer;
    display: inline-table;
    height: 200px;
    margin: 3px 7px 20px;
    padding: 20px;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.showButton {
    opacity: 1;
}

.assetBTN h2,
.assetMoreBTN h2 {
    display: table-cell;
    vertical-align: middle;
}

.icon {
    bottom: 20px;
    display: block;
    position: absolute;
    right: 20px;
}

.activeTab {
    background: #fff;
    color: #000;
    height: 50px;
}


/*colors*/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.ltGrey {
    color: #737b80;
}

.greenBG {
    background-color: #009a44;
}


/*disable click*/

.disableClick {
    pointer-events: none;
}