/*native elements*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Terumo BCT Regular';
    color: #444;
    min-width: 1200px;
}

button {
    margin-left: 5px;
    transition: all .25s;
}

label {
    font-size: 16px;
}


/*application title*/

.appTitle {
    font-size: 36px;
    margin-right: 20px;
    vertical-align: middle;
}

.header {
    height: 75px;
    background: #009a44;
}

.header span {
    font-size: 48px;
    color: #fff;
    font-family: "Terumo BCT Thin";
    line-height: 75px;
    margin-left: 2.5%;
}

.header img {
    height: 25px;
    position: absolute;
    right: 2.5%;
    top: 25px;
}

.customAlert {
    height: 0;
    opacity: 0;
    padding: 0 2.5%;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: 1000000;
}

.customAlertShow {
    padding: 15px 2.5%;
    height: 50px;
    opacity: 1;
    visibility: visible;
}


/*groups*/

.groups {
    font-size: 18px;
}

.eachGroup {
    margin-bottom: 15px;
    padding: 1%;
    background: #f4f4f4;
    border: 1px solid #ddd;
}

.outerWrapper {
    padding: 1% 2.5%;
}

.wrapper {
    margin-top: 15px;
    position: relative;
}


/*buttons*/

.assetBTN {
    color: #fff;
    height: 240px;
    position: relative;
    white-space: normal;
    width: 240px;
    transition: all .25s;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.assetBtn span {
    color: #fff;
    font-family: "Terumo BCT Bold";
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 1px;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.icon {
    bottom: 20px;
    display: block;
    position: absolute;
    right: 20px;
}

.editButton {
    left: 50%;
    margin: 5% 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.editButtons {
    cursor: pointer;
    transition: all .25s;
}

.editButtons:hover {
    box-shadow: 0 0 9px #888;
}


/*blackout and prompt*/

.blackout {
    background-color: rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.25s;
    visibility: hidden;
    z-index: 10000;
}

.blackoutShow {
    visibility: visible;
    opacity: 1;
}

.prompt {
    background: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 10001;
    box-shadow: 0 0 9px #888;
    min-width: 450px;
}

.promptTitle {
    font-size: 24px;
}

.inner {
    padding: 5% 2.5%;
}

.bgTitle {
    display: inline;
    font-size: 32px;
}

.fontUp {
    font-size: 1.5em;
}


/*table*/

.leftTable {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.rightTable {
    display: inline-block;
    margin-left: 3%;
    vertical-align: top;
    width: 56%;
}

.contentTable td {
    padding: 10px 20px;
    vertical-align: top;
    font-size: 18px;
}

.tabTable {
    background: #e8e8e8;
    cursor: pointer;
    margin: 15px 0;
    padding: 10px;
    transition: all 0.25s;
}

.tabTable:hover {
    box-shadow: 0 0 9px #888;
}

.currentTabTitle {
    width: 400px;
}

.bgImg {
    width: 100%;
    cursor: pointer;
    transition: all .25s;
}

.bgImg:hover {
    box-shadow: 0 0 9px #888;
}


/*colorpicker*/

.colorPicker {
    /*    border: 1px solid;*/
    display: table;
    height: 182px;
    margin: 0 auto;
    width: 182px;
    cursor: pointer;
}

.eachColor {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 1px solid;
    opacity: 0.6;
}

.colorActive {
    border: 2px solid;
    opacity: 1;
}

.eachColor:hover {
    border: 2px solid;
    opacity: 1;
}

.inline-block {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
}