html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}


/*************************** Terumo BCT Fonts **************************/

@font-face {
    font-family: 'TerumoBCTBold';
    src: url('../fonts/terumobct_bd-webfont.eot');
    src: url('../fonts/terumobct_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bd-webfont.woff') format('woff'), url('../fonts/terumobct_bd-webfont.ttf') format('truetype'), url('../fonts/terumobct_bd-webfont.svg#TerumoBCTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTLight';
    src: url('../fonts/terumobct_lt-webfont.eot');
    src: url('../fonts/terumobct_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_lt-webfont.woff') format('woff'), url('../fonts/terumobct_lt-webfont.ttf') format('truetype'), url('../fonts/terumobct_lt-webfont.svg#TerumoBCTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTItalic';
    src: url('../fonts/terumobct_rgit-webfont.eot');
    src: url('../fonts/terumobct_rgit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rgit-webfont.woff') format('woff'), url('../fonts/terumobct_rgit-webfont.ttf') format('truetype'), url('../fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTRegular';
    src: url('../fonts/terumobct_rg-webfont.eot');
    src: url('../fonts/terumobct_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rg-webfont.woff') format('woff'), url('../fonts/terumobct_rg-webfont.ttf') format('truetype'), url('../fonts/terumobct_rg-webfont.svg#TerumoBCTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBoldItalic';
    src: url('../fonts/terumobct_bdit-webfont.eot');
    src: url('../fonts/terumobct_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bdit-webfont.woff') format('woff'), url('../fonts/terumobct_bdit-webfont.ttf') format('truetype'), url('../fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTThin';
    src: url('../fonts/terumobct_th-webfont.eot');
    src: url('../fonts/terumobct_th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_th-webfont.woff') format('woff'), url('../fonts/terumobct_th-webfont.ttf') format('truetype'), url('../fonts/terumobct_th-webfont.svg#TerumoBCTThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'TerumoBCTBold', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: 'TerumoBCTBold', Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    color: #FFF;
    letter-spacing: 1px;
}

h3 {
    font-family: 'TerumoBCTRegular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h4 {
    font-family: 'TerumoBCTBold', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
}

h5 {
    font-family: 'TerumoBCTBold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #3c454f;
    margin: 6px 0px 0px 50px;
    padding: 0px 0px 0px 0px;
}

p {
    font-family: "TerumoBCTThin", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    /*line-height:14px;*/
    color: #FFF;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

ul {
    list-style-type: none;
    margin: 2px 0px 2px 0px;
    padding: 0px;
    font-family: "TerumoBCTThin", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #FFF;
}

li {
    background: url(../img/sqBullet.png) no-repeat;
    padding: 0px 0px 0px 10px;
}

a {
    text-decoration: none;
    border: 0;
}