<html>

<head>
    <title>TerumoBCT</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.ico">
</head>

<body ng-app="app" ng-controller="main">
    <div class="topTab" ng-show="currentView===0">
        <a class="tabContents">
            <div class="orangeTick"></div>
            <h3 class="tabText">Please select a category</h3>
        </a>
    </div>
    <div class="topTab showCursor" ng-show="currentView!==0" ng-click="back()">
        <a class="tabContents">
            <div class="orangeTick"></div>
            <h3 class="tabText white"><img src="img/backArrow.png" width="63" height="21" align="texttop" border="0" /> back</h3>
        </a>
    </div>
    <div ng-class="{'homeShow': currentView===0}" class="backgroundCycler" backgroundcycler>
        <img src="img/background/Home-background-1.jpg" />
        <img src="img/background/Home-background-2.jpg" />
        <img src="img/background/Home-background-3.jpg" />
        <img src="img/background/Home-background-4.jpg" />
        <img src="img/background/Home-background-5.jpg" />
    </div>
    <div class="backgroundCycler" ng-class="{'homeShow': currentView!==0}">
        <img ng-src="{{currentGroup.img}}" class="active" />
    </div>
    <div class="homeButtons" ng-class="{'homeShow': currentView===0}">
        <div class="mainScreenLogo" ng-click="moreAndHome(4,'Corp')">
            <img src="img/TerumoBCT-HomeBTN.gif" width="275" height="275" border="0" />
        </div>
        <a class="mainScreenBlocks" ng-repeat="button in masterObj" ng-click="advance(button)">
            <h1>{{button.title}}</h1>
        </a>
    </div>
    <div class="content" ng-class="{'homeShow': currentView===1}">
        <div>
            <h1 class="ltGrey sectionTitle">{{currentGroup.title}}</h1>
        </div>
        <div class="tabs" ng-hide="currentGroup.tabs.length===1">
            <a class="tabBTN" ng-repeat="t in currentGroup.tabs" ng-click="showNew(t)">
                <p class="tabLinkTxt thinTitle" ng-class="{'activeTab':t.active}">
                    {{t.title}}
                </p>
            </a>
            <div class="tabRule"></div>
        </div>
        <div class="subBTNs" buttons>
            <a class="assetBTN" ng-repeat="b in currentTab.buttons" style="background:{{b.color}}" ng-click="getContents(b)">
                <h2>{{b.title}}</h2>
                <div class="icon">
                    <img width="40" border="0" height="40" ng-src="img/icons/icon-{{b.icon}}.png">
                </div>
            </a>
        </div>
    </div>
    <div class="moreTab" ng-class="{'homeShow': currentView===0}" ng-click="moreAndHome(3,'More')">
        <a class="moreContents">
            <h4 class="moreText white">MORE</h4>
            <div class="downCarrot"></div>
        </a>
    </div>
    <div class="content" ng-class="{'homeShow': currentView===4}">
        <div class="corpTxt">
            <h1 style="margin-bottom:0; padding-bottom:0; line-height:1;">terumo bct</h1>
            <p class="header thinTitle" style="margin-top:20px; padding-top:0; line-height:1;">Unlocking the Potential of Blood</p>
            <p>As a global leader in blood component, therapeutic apheresis and cellular technologies, we believe in the potential of blood to do even more for the world than it does today. This belief inspires our innovation and strengthens our collaboration with customers.</p>
            <p>By helping you enhance patient care, we unlock the potential of blood to: </p>
            <ul>
                <li><span>Make even safer, higher-quality transfusions available to more people</span></li>
                <li><span>Advance blood therapies to help customers bring more treatment options to patients</span></li>
                <li><span>Develop cellular therapies that may fundamentally improve health care</span></li>
            </ul>
        </div>
        <div class="corpButtons">
            <a class="assetBTN" style="background:{{m.color}};opacity:1" ng-repeat="m in corpButtons" ng-click="getContents(m)">
                <h2>{{m.title}}</h2>
                <div class="icon">
                    <img width="40" border="0" height="40" ng-src="img/icons/icon-{{m.icon}}.png">
                </div>
            </a>
        </div>
    </div>
    <div class="moreButtons" ng-class="{'homeShow': currentView===3}">
        <a class="assetBTN" style="background:{{m.color}}" ng-repeat="m in moreButtons" ng-click="getContents(m)">
            <h2>{{m.title}}</h2>
            <div class="icon">
                <img width="40" border="0" height="40" ng-src="img/icons/icon-{{m.icon}}.png">
            </div>
        </a>
    </div>
    <div class="mediaPage" ng-class="{'homeShow': currentView===2}">
        <div class="ltGrey objTitle">{{currentButton.title}}</div>
        <div ng-if="currentButton.media==='Video'">
            <video class="currentVideo" ng-src="{{currentButton.mediaLink}}" controls customvideo></video>
        </div>
        <div ng-if="currentButton.media==='Virtual Tour'">
            <iframe class="currentTour" ng-src="{{currentButton.mediaLink}}"></iframe>
        </div>
        <div ng-if="currentButton.media==='PDF'">
            <embed ng-src="{{currentButton.mediaLink}}" class="currentTour">
        </div>
    </div>
</body>
<script>
    if ((navigator.userAgent.indexOf("Edge") != -1 || navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) {
        alert('Microsoft Edge/Internet Explorer is total garbage. Please use Google Chrome or FireFox to be well liked and respected.');
        // location.reload();
    }


    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new
        Date();
        a = s.createElement(o),

            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(
            a, m)

    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68564252-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="lib/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/directives.js"></script>

</html>